### Haskell ###
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config


### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### LaTeX ###
*.aux
*.bbl
*.blg
*.dvi
*.log
*.pyg
/out


### Files created by the Ruby script ###
*.tex-old
footempfile.txt


### IntelliJ IDEA ###
.idea
*.iml


### Scala ###
*.class


### F2J ###
runtime.jar